body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../imagenes/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #005bb5;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
